@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixelify: var(--font-pixelify);
  --font-vt323: var(--font-vt323);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* global.css */
.grid-pattern {
  background-color: #000;
  background-image: linear-gradient(#84d46c1a 1px, transparent 1px),
    linear-gradient(to right, #84d46c1a 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #84d46c;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(132, 212, 108, 0.8);
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #84d46c #1a1a1a;
}

/* @font-face {
  font-family: "PP NeueBit", sans-serif;
  src: url("/fonts/ppneuebit-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Mondwest", sans-serif;
  src: url("/fonts/ppmondwest-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "Sugar Peachy DEMO Black", sans-serif;
  src: url("/fonts/ppneuebit-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

.neuebit {
  font-family: "PP NeueBit", system-ui;
}
.mondwest {
  font-family: "PP Mondwest", system-ui;
}
